/*
font-family: 'Nunito', sans-serif; HEADERS
font-family: 'Poppins', sans-serif; links, buttons, labels, menus.
font-family: 'Quicksand', sans-serif; Paragraphs
 

color palette:
#313131 - dark grey for text
#707070 - grey (footer background)
#BABCBC - light grey for less used buttons (shop, search)
#3662F8 - blue (headers, buttons, links, topbar menu)
#F1F2FF - pale blue (block text background)
#FFB919 - yellow (accent color)
#FEF8E5 - pale yellow (block text background)
#FF5E63 - red (accent color)

*/
h3 {
    color: #3662F8;
    font-size: 1.5em;
    margin: 1.2em auto;
}
ul {
    margin-left: 30px;
}
li {
    list-style-image: url(../images/list_paw.png);
    padding-left: 20px;
    padding-bottom: 20px;
}
li:last-child {
    padding-bottom: 0;
}

.aboutARF {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.aboutARF a {
    color: #3662F8;
    text-decoration: none;
    font-weight: bold;
}
#arfBanner {
    background-image: url('../images/bg-banner2.jpg');
}