/*
font-family: 'Nunito', sans-serif; HEADERS
font-family: 'Poppins', sans-serif; links, buttons, labels, menus.
font-family: 'Quicksand', sans-serif; Paragraphs
 

color palette:
#313131 - dark grey for text
#707070 - grey (footer background)
#BABCBC - light grey for less used buttons (shop, search)
#3662F8 - blue (headers, buttons, links, topbar menu)
#F1F2FF - pale blue (block text background)
#FFB919 - yellow (accent color)
#FEF8E5 - pale yellow (block text background)
#FF5E63 - red (accent color)

*/
main {
    margin: auto;
    max-width: 1000px;
}

.adoptionProcess {
    margin: 1em;

}

.adoptionProcess p {
    background-color: #FEF8E5;
    padding: .5em;
    font-size: 1.1em;
    line-height: 1.5;
}
.adoptionProcess h2{
    text-align: center;
    font-size: 2em;
}
.adoptionProcess h2, .adoptionProcess h3, .adoptionProcess p {
    margin-bottom: .5em;
}

.adoptionProcess h2 ,.adoptionProcess h3 {
   color:#3662F8;
}

