.petGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.petList {
    list-style-type: none;
    padding: 1vw 0;
}
.petCardBox {
    width: 44vw;
    height: 44vw;
    position: relative;
}
.petCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px #717171;
    border-radius: 15px;
}
.petCardData {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 1px;
    background-color: rgba(112, 112, 112, .6);
}
.petCardName {
    font-size: 1.2em;
    padding: 10px 15px;
    color: #fff;
}
.petCardAbout {
    color: #fff;
    padding: 0 15px 10px 15px;
}

@media screen and (min-width: 600px) {
    .petCardBox {
        width: 30vw;
        height: 30vw;
        
    }
}
@media screen and (min-width: 859px) {
    .availablePets {
        max-width: 1000px;
        margin: auto;
    }
    .petCardBox {
        max-width: 300px;
        max-height: 300px;
    }
}