/*
font-family: 'Nunito', sans-serif; HEADERS
font-family: 'Poppins', sans-serif; links, buttons, labels, menus.
font-family: 'Quicksand', sans-serif; Paragraphs
 

color palette:
#313131 - dark grey for text
#707070 - grey (footer background)
#BABCBC - light grey for less used buttons (shop, search)
#3662F8 - blue (headers, buttons, links, topbar menu)
#F1F2FF - pale blue (block text background)
#FFB919 - yellow (accent color)
#FEF8E5 - pale yellow (block text background)
#FF5E63 - red (accent color)
*/

form {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

ul {
    list-style-type: none;

}

label {
    display: block;
    margin-bottom: .5em;
    margin-top: .5em;
}
fieldset {
    border: none;
    background-color: #FEF8E5;
    padding: 1em;
    margin: 0 1em;
}

fieldset, input {
    width: 100%;
    max-width: 500px;
}

textarea {
    height: 125px;
    width: 100%;
}
input {
    height: 25px;
}
input, textarea{
    
    border-radius: 15px;
    padding: .5em;
}

#submit {
    background-color: #3662F8;
    border-color: #3662F8;
    border-radius: 6px;
    text-transform: uppercase;
    padding: .25em;
    margin: .75em 0;
    font-weight: bold;
    color: #fff;
}

