/*
font-family: 'Nunito', sans-serif; HEADERS
font-family: 'Poppins', sans-serif; links, buttons, labels, menus.
font-family: 'Quicksand', sans-serif; Paragraphs
 

color palette:
#313131 - dark grey for text
#707070 - grey (footer background)
#BABCBC - light grey for less used buttons (shop, search)
#3662F8 - blue (headers, buttons, links, topbar menu)
#F1F2FF - pale blue (block text background)
#FFB919 - yellow (accent color)
#FEF8E5 - pale yellow (block text background)
#FF5E63 - red (accent color)

TABLE OF CONTENTS
    1. Gallery
    2. Events
    3. News
    4. special styles
    8. Mid-screen layout
    9. Large-screen layout
*/

/* Gallery */
.petGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.petList {
    list-style-type: none;
    padding: 1vw 0;
}
.petCardBox {
    width: 44vw;
    height: 44vw;
    position: relative;
}
.petCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px #717171;
    border-radius: 15px;
}
.petCardData {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 1px;
    background-color: rgba(112, 112, 112, .6);
}
.petCardName {
    font-size: 1.2em;
    padding: 10px 15px;
    color: #fff;
}
.petCardAbout {
    color: #fff;
    padding: 0 15px 10px 15px;
}
/* News + Events */
.events, .news {
    display: flex;
    flex-wrap: wrap;
   padding: 1em 1.3em 1.5em 1.3em;
}
.events {
    background-color: #F1F2FF;
}

.news {
    background-color: #FEF8E5;
}
/* Call to action section - will fix later*/

.callToAction {
    display: flex;
    flex-wrap: wrap;
    padding: auto 1em;
    margin: 1em 0;
    width:80%;
}

.ctaContent {
    background-color: #707070;
}
.ctaBox h3 {
color: #fff;
font: 1.2em 'Poppins', sans-serif; 
}
.description p {
visibility: hidden;
}
