/*
font-family: 'Nunito', sans-serif; HEADERS
font-family: 'Poppins', sans-serif; links, buttons, labels, menus.
font-family: 'Quicksand', sans-serif; Paragraphs
 

color palette:
#313131 - dark grey for text
#707070 - grey (footer background)
#BABCBC - light grey for less used buttons (shop, search)
#3662F8 - blue (headers, buttons, links, topbar menu)
#F1F2FF - pale blue (block text background)
#FFB919 - yellow (accent color)
#FEF8E5 - pale yellow (block text background)
#FF5E63 - red (accent color)

TABLE OF CONTENTS
    1. Gallery
    2. Events
    3. News
    4. special styles
    8. Mid-screen layout
    9. Large-screen layout
*/
h3 {
    font-size: 2em;
    margin-top: 0;
}
/* Gallery */
.petGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    margin-bottom: 1em;
}
.petList {
    list-style-type: none;
    padding: 1vw 0;
}
.petCardBox {
    width: 44vw;
    height: 44vw;
    position: relative;
}
.petCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px #717171;
    border-radius: 15px;
}
.petCardData {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 1px;
    background-color: rgba(112, 112, 112, .6);
}
.petCardName {
    font-size: 1.2em;
    padding: 10px 15px;
    color: #fff;
}
.petCardAbout {
    color: #fff;
    padding: 0 15px 10px 15px;
}
#view {
    margin: auto !important;
}
/* News + Events */
.events, .news {
    display: flex;
    flex-wrap: wrap;
   padding: 1em 1.3em 1.5em 1.3em;
}
.events {
    background-color: #F1F2FF;
}

.news {
    background-color: #FEF8E5;
}
/* Call to action section */
.ctaGrid h3 {
    margin: .5em;
}
.ctaGrid h4 {
    font-size: 1.8em;
    line-height: 1.5;
    padding: .3em;
    text-align: center;
}
.box {
    text-decoration: none;
}
.ctaBox h3 {
    color: #fff;
    font: 1.2em 'Poppins', sans-serif; 
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 200px;
}
.left h3 {
    display: block;
}
.ctaContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.description {
    visibility: collapse;
    position: absolute;
    color: white;
    font-weight: 500;
    display: block;
    width: 200px;
}
.ctaIcon {
    max-width: 200px;
}
#volunteerBox {
    background-color: #3662F8;
}
#donateBox {
    background-color: #FFB919;
}
#fosterBox {
    background-color: #FF5E63;
}
#shopBox {
    background-color: #BABCBC;
}
@media screen and (min-width:401px) {
    .left {
        position: relative;
    }
    .left .ctaIcon {
        position: absolute;
        right: 0;
    }
    .left h3 {
        width: 200px;
        position: absolute;
        right: 0;
        bottom: -244px;
    }
}
@media screen and (min-width:859px) {
    .description {
        visibility: visible;
    }
    .ctaBox {
        position: relative;
    }
    .right .description {
        left: 220px;
        top: 40px;
    }
    .left .description {
        right: 220px;
        top: 40px;
    }
}