/*
font-family: 'Nunito', sans-serif; HEADERS
font-family: 'Poppins', sans-serif; links, buttons, labels, menus.
font-family: 'Quicksand', sans-serif; Paragraphs
 

color palette:
#313131 - dark grey for text
#707070 - grey (footer background)
#BABCBC - light grey for less used buttons (shop, search)
#3662F8 - blue (headers, buttons, links, topbar menu)
#F1F2FF - pale blue (block text background)
#FFB919 - yellow (accent color)
#FEF8E5 - pale yellow (block text background)
#FF5E63 - red (accent color)


TABLE OF CONTENTS
    1. global styles
    2. header
    3. nav styles
    4. special styles
    5. info styles
    6. footer
    7. form
    8. Mid-screen layout
    9. Large-screen layout
*/

/* 1. global styles */

* {                 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
          /*  This is just a place holder  */
img { 
    max-width: 100%;
    height: auto;
}

img.logo {
    margin: 1em 0 0 2.5em;
}

/* main header */
header.mainHeader {
    padding: 0 1em;
    
}
/* Navigation Bar */

nav.mainNav * {
    padding: 0;
    margin: .2rem;
    border: none;
}

.mainNav  {
    position: relative;

}

.mainNav li {
    display: inline-block;
    text-align: center;
    width: 96px; /*155*/
    list-style-type: none;
    position: relative;
             
}

li.active {
    border-bottom: solid 3px #FEB200;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

input#navToggle {
    display: none;
}

input#navToggle ~ label {
    position: relative;
    /* left: 90%; */
    width: 2rem;
    height: 1.25rem;
    /* top: -68px; */
}

input#navToggle ~ label > span,
input#navToggle ~ label > span::before,
input#navToggle ~ label > span::after {
    content: "";
    display: block;
    position: absolute;
    width: 1.5rem;
    height: .25rem;
    top: -68px;
    background-color: #333;
}

input#navToggle ~ label > span::before {
    top: -.5rem;
}

input#navToggle ~ label > span::after {
    top: .5rem;
}

nav.mainNav ul {
    position: absolute;
    top: -50px;
    left: -110%;
    width: 100%;
    list-style-type: none;
    background-color: #fff;
    margin: 0!important;
}

#navToggle:checked ~ ul {
    left: 0;
}

.mainNav a {
    font-family: 'Poppins', sans-serif;
    color: #3662F8;
    text-decoration: none;
    
}

/* banner */

#arf {
    color: white;
    /* position: relative; */
    text-align: center;
    background-image: url('../images/bg-banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height: 250px;
    padding: 89px 15px;
    font-family: 'Nunito', sans-serif; 
    text-shadow: 1px 1px gray;
}

 
/* .centered1 {    
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
      
}

.centered2 {    
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  
} */


/* Break Point */

@media screen and (min-width: 859px){

    .navToggleLabel {

        display: none;

    }

    header.mainHeader {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    nav.mainNav ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        position: initial;
    }
    
    nav.mainNav * {
        padding: 0;
        margin: .2rem;
    }

    img.logo {
        margin: 1em 1em 1em 0;
    }
}


/*------Footer--------*/

.action-buttons {
    position: relative;
    padding: 0%;
    margin: 0;
    justify-content: center;
    display:flex;
    height: auto; 
    justify-items: stretch;
    object-fit: fill;

    }

.box {
    position: relative;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    display:grid;
    grid: gap 0;
   grid-template-rows: repeat(5fr);
   grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: space-evenly;
}


 .box h3 {
     color:#fff;
     text-align: center;
     font-size: 1.3em;
     text-transform:uppercase;
     text-decoration: none;
     padding-bottom: 2em;
 }
 .cell img {
    display:block;
     margin: auto;
     padding: 1em;
     max-width: 100%;
 }
 .cell {
    align-items: center;
     padding: 2em;
     display: inline-flex;


 }
 .cell:nth-of-type(1) {
    background: #3662F8;
}

 .cell:nth-of-type(2) {
     background: #FEB200;
 }

.cell:nth-of-type(3) {
    background: #BABCBC;
}
.cell:nth-of-type(4) {
    background: #FF5E63;
}


footer {
    padding: 2em 1em;
        min-height: 100vh;
        margin-top: 3em;
        background: #707070;
        color: #fff;
}

.footercontainer {
    display: grid;  grid-template-columns: repeat(4, 10rem);  grid-gap: 2rem;
}

.facebook a {
    float: right;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
}
.facebook img {
    height: 100px;
}
.facebook {
    justify-content: center;
    align-content: ;
}
.facebook h3 {
   display: inline-block;
}
.legal {
    padding: 3em;
   
     clear: both;
}