/*
font-family: 'Nunito', sans-serif;
             'Poppins', sans-serif;
             'Quicksand', sans-serif;
 

color palette:
#313131 - dark grey for text
#707070 - grey (footer background)
#BABCBC - light grey for less used buttons (shop, search)
#3662F8 - blue (headers, buttons, links, topbar menu)
#F1F2FF - pale blue (block text background)
#FFB919 - yellow (accent color)
#FEF8E5 - pale yellow (block text background)
#FF5E63 - red (accent color)


TABLE OF CONTENTS
    1. global styles
    2. header
    3. nav styles
    4. special styles
    5. info styles
    6. footer
    7. form
    8. Mid-screen layout
    9. Large-screen layout
*/

/* 1. global styles */

* {                 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}           /*  This is just a place holder  */
