/*
font-family: 'Nunito', sans-serif;
             'Poppins', sans-serif;
             'Quicksand', sans-serif;
 

color palette:
#313131 - dark grey for text
#707070 - grey (footer background)
#BABCBC - light grey for less used buttons (shop, search)
#3662F8 - blue (headers, buttons, links, topbar menu)
#F1F2FF - pale blue (block text background)
#FFB919 - yellow (accent color)
#FEF8E5 - pale yellow (block text background)
#FF5E63 - red (accent color)


TABLE OF CONTENTS
    1. global styles
    2. header
    3. nav styles
    4. special styles
    5. info styles
    6. footer
    7. form
    8. Mid-screen layout
    9. Large-screen layout
*/

/* 1. global styles */

* {                 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}           /*  This is just a place holder  */


/* FORM SUPPORT US */
section.formSupport h4 {
    color: #3662F8;
    text-transform: uppercase;
    text-align: center;
    margin: 1em;
}

fieldset {
    padding: 1em;
    margin: .75em 0;
    border: none;
}

ul{
    list-style-type: none;
}


fieldset#cardField {
    background-color: #FFF3CE;
    margin: .75em
}
#cardForm {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    
}

#cardForm label {
    display: block;
}
#cardForm input {
    width: 100%;
    border-radius: 15px;
    padding: .5em;
}

#item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#item2{
    grid-column: 1 / 3;
}

#item3 {
    grid-column: 1 / 3;
}

#item4 {
    grid-column: 1 / 3;
} 

#item5 {
    grid-column: 1 / 2;
} 

#item6 {
    grid-column: 2 / 3;
} 

#submit {
    background-color: #3662F8;
    border-radius: 6px;
    text-transform: uppercase;
    padding: .75em;
    margin: .75em 0;
    font-weight: bold;
}

/* Donate buttons Fieldset */
fieldset#donateButtons {
    padding: 0 .3em;
    display: flex;
    justify-content: center;
}
.donateAmount {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
    
}

.donateAmount li {
    float: left;
    margin: 5px;
    width: 100px;
    height: 40px;
    position: relative;
    
    
}
  
.donateAmount label,
.donateAmount input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
}
  
.donateAmount input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}
  
.donateAmount input[type="radio"]:checked+label,
.Checked+label {
    background: yellow;
}
  
.donateAmount label {
    padding: .75em;
    border: 1px solid #CCC;
    border-radius: 7px;
    cursor: pointer;
    z-index: 90;
    background-color: #3662F8;
    
}
  
  .donateAmount label:hover {
    background: #DDD;
}