/*
font-family: 'Nunito', sans-serif; HEADERS
font-family: 'Poppins', sans-serif; links, buttons, labels, menus.
font-family: 'Quicksand', sans-serif; Paragraphs
 

color palette:
#313131 - dark grey for text
#707070 - grey (footer background)
#BABCBC - light grey for less used buttons (shop, search)
#3662F8 - blue (headers, buttons, links, topbar menu)
#F1F2FF - pale blue (block text background)
#FFB919 - yellow (accent color)
#FEF8E5 - pale yellow (block text background)
#FF5E63 - red (accent color)

TABLE OF CONTENTS
    1. global styles
    2. Pet profile section
    3. Gallery section
    4. Large-screen layout
*/

/* ---------global styles--------- */
#arf {
    background-image: url('../images/bg-banner3.png');
}

/* ---------Pet profile section---------- */
.petProfile h3{
    color: #3662F8;
    font-size: 1.8em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: .5em auto;
}
.petDetails ul{
    width: 80%;
    margin: auto;
    padding: 1em;
}
.petDetails li {
    list-style-type: none;
    padding-top: 7px;
}
.petDetails li strong {
    color: #3662F8;
    padding-right: 5px;
}

.petDescription {
    background-color: #FEF8E5;
    padding: 1em;
}
.petAbout h4 {
    color: #3662F8;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
}
.petAbout p {
    padding: .5em 0;
}
.petAbout a {
    color: #3662F8;
    text-decoration: none;
    font-weight: 600;
}
.petAside {
    position: relative;
    background-color: #fff;
    width: 220px;
    height: 185px;
    font-size: .7em;
    margin: 1em auto;
    padding: 10px;
}
.petAside p {
    padding-bottom: 5px;
}
button {
    width: 240px;
    height: 30px;
    border-radius: 10px;
    display: block;
    margin: .5em auto 0;
}
button a {
    font-family: 'Poppins';
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
#adopt {
    background-color: #FF5E63;
    border-color: #FF5E63;
    position: absolute;
    left: -10px;
}
#donate {
    background-color: #FFB919;
    border-color: #FFB919;
    position: absolute;
    bottom: 0px;
    left: -10px;
}
/* ---------Gallery section--------- */
#view {
    background-color: #3662F8;
    border-color: #3662F8;
    margin: 1em auto;
}
.availablePets {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* ---------Large-screen layout--------- */
@media screen and (min-width:501px){
    .petProfile h3 {
        margin: 1em auto;
    }

    .petInfo, .petDescription{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .petImg, .petDetails, .petAbout {
        width: 48%;
    }
    .petDetails {
        order: -1;
    }
    .petDetails ul {
        width: 100%;
        background-color: #FEF8E5;
        padding: 7%;
    }
    .petImg img{
        border-radius: 15px;
    }
    .petGallery {
        justify-content: flex-start;
        
    }
    .petList {
        padding: 1em;
    }
    .petCardBox {
        width: 200px;
        height: 200px;
        
    }
    #view {
        margin: 1em;
    }
}
